<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body style="background-image: url(https://images.unsplash.com/photo-1582201957424-621320ad670d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzN8fGFydHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60); background-repeat: no-repeat; background-size: 100%;">
    <div class="container" style="height: 100%; text-align: center; margin-top: 20vh;">
        <h1>Welcome to Pitch It.</h1>
        <hr style="margin-left: 30vw; width: 40vw;">
        <h3>You can say your piece in one minute and make your dream come true.</h3>
        <h3>We are glad you're back.</h3>
        <a class="btn btn-info"  href="{{url_for('auth.login')}} "><button style="border-radius: 5px; background-color: rgb(121, 153, 240); color: black; height: 5vh; width: 10vw;font-size: large;">Login</button> </a>
        <br>
        <h3>Are you new here?</h3>
        <a class="btn btn-info"  href="{{url_for('auth.login')}} "><button style="border-radius: 5px; background-color: rgb(62, 233, 114); color: black; height: 5vh; width: 10vw; font-size: large; ">Register</button> </a>
    </div>
</body>
</html>